<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title style="font-family: fantasy;">Mansi Fashion</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block css %}{% endblock %}
    {% block scripts %}{% endblock %}
</head>
<body>
    <header>
        <div class="container-heading">
            <nav>
                <ul>
                    <li><a href="{% url 'Entry' %}">Entry</a></li>
                    <li><a href="{% url 'billing' %}">Billing</a></li>
                    <li><a href="{% url 'loginPage' %}">Dashboard</a></li>
                </ul>
            </nav>
        </div>
        <div class="navbar-heading">
            <h1>Mansi Fashion</h1>
        </div>
    </header>
    <br>
    <div class="body">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
