{% extends "base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/billing.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/@trevoreyre/autocomplete-js/dist/style.css"/>
{% endblock %}

{% block content %}
<div class="container">
    <form method="post">
        {% csrf_token %}
        <div class="col-md-3 mx-auto">
            <div id="autocomplete" class="autocomplete">
                <label >Phone Number : </label>
                <input id="autocomplete" name="autocomplete" class="autocomplete-input" placeholder="Enter Customer Number" aria-label="Search for a customer" style="width: 30%; height: 30px;;">
                <ul class="autocomplete-result-list" style="background-color: black;color: aliceblue;font-size: large;font-family: fantasy;"></ul>
            </div>
        </div>
        <br>
        <div class="form-group">
            <label for="Name">Name:</label>
            <input type="text" id="Name" name="Name" class="form-control">
        </div>
        <br>
        <div class="form-group">
            <label for="Age">Age:</label>
            <input type="number" id="Age" name="Age" class="form-control">
        </div>
        <br>
        <div class="form-group">
            <label for="Sold_on">Sold On:</label>
            <input type="date" id="Sold_on" name="Sold_on" class="form-control" value="2023-01-01">
        </div>
        <br>
        <br>
        <table>
            <thead>
                <th></th>
                <th>FinalCode</th>
                <th>SIZE</th>
                <th>Description</th>
                <th>MRP</th>
            </thead>
        {% for item in items %}
            <tr>
                <td>
                    <input type="checkbox" id="item_{{ item.id }}" name="items" value="{{ item.id }}">
                </td>
                <td>
                    <label for="item_{{ item.id }}">{{ item.FinalCode }}</label>
                </td>
                <td>
                    <label for="item_{{ item.id }}">{{ item.SIZE }}</label>
                </td>
                <td>
                    <label for="item_{{ item.id }}">{{ item.Description }}</label>
                </td>
                <td>
                    <label for="item_{{ item.id }}">{{ item.MRP }}</label>
                </td>
            </tr>
        {% endfor %}
        </table>
        <button class="button-18" type="submit">Add Selected Items to Bill</button>
    </form>
<script src="https://unpkg.com/@trevoreyre/autocomplete-js"></script>
<script src="{% static 'Javascript/oldcustomer.js' %}"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
{% endblock %}
